<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" type="text/css" href="home.css">
    <script src="https://kit.fontawesome.com/63fb3be0e9.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="mainSection menuSection">
        <h4>The Name Game</h4>
        <div class="home-menu">
            <button type="submit"><i class="fa-solid fa-chart-line"></i></button>
            <button type="submit"><i class="fa-solid fa-gear"></i></button>
            <img src="shaggy_avatar.jpg">
        </div>
    </div>
    <button type="submit" class="startGameBtn"><i class="fa-solid fa-play"></i> Start game</button>
    <div>
        <button onclick="window.location.assign('/logout')" type="submit" class="logOutBtn"><i class="fa-solid fa-right-from-bracket"></i></button>
    </div>
</body>
</html>