<!DOCTYPE html>
<html lang="en">

<head>
  <title>Registration</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="index.css">
  <link rel="icon" href="logo.png">
</head>

<body>
<div class="mainSection">
  <h1>The Name Game</h1>
  <div class="home-menu">
    <button id="pressPlay" onclick="window.location.assign('/signIn')">Press to play!</button>
  </div>
</div>
<footer>
  <p>© Duderick and DarunKa company limited.AM</p>
</footer>
</body>

</html>