<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" type="text/css" href="home.css">
    <link rel="stylesheet" type="text/css" href="signIn.css">
    <link rel="stylesheet" type="text/css" href="settings.css">
    <link rel="icon" href="logo.png">
    <script src="https://kit.fontawesome.com/63fb3be0e9.js" crossorigin="anonymous"></script>
</head>
<body>
    <form action="/settings" method="POST">
        <div id="userInfo">
            <div onclick="hideUserInfo()" class="loginAndAvatar">
                #login#
                <!-- <span title="ShaggyAndScoobyDoo11111111111111111111111">ShaggyAndScoobyDoo11111111111111111111111</span> -->
                #avatar1#
            </div>
            <div class="fullname">
                <span>Fullname:</span>
                #fullname#
                <!-- <span title="Shaggy Rojers" class="fullnameText">Shaggy Rojers</span> -->
            </div>
            <div class="email">
                <span>Email:</span>
                #email#
                <!-- <span title="shaggy.Rojers0908@gmail.com" class="emailText">shaggy.Rojers0908@gmail.com</span> -->
            </div>
        </div>
        <div class="mainSection menuSection">
            <h4 onclick="window.location.assign('/home')">The Name Game</h4>
            <div class="home-menu">
                <button onclick="window.location.assign('/stats')" type="submit" class="statBtn"><i class="fa-solid fa-chart-line"></i></button>
                <button onclick="window.location.assign('/home')" type="submit" class="settingBtn"><i class="fa-solid fa-xmark"></i></button>
                <u onclick="showUserInfo()">#avatar2#</u>
            </div>
        </div>
        <div class="signForm settingForm">
            <div id="hidden_if_empty">#status#</div>
            <div id="hidden_if_empty_error">#error#</div>
            
            <div class="loginInput">
                <span>Fullname</span>
                <div>
                    <i class="fa-solid fa-signature"></i>
                    <input type="text" name="fullname" placeholder="Enter your fullname" id="signUpFullname" value="">
                </div>
            </div>

            <div class="loginInput">
                <span>Email</span>
                <div>
                    <i class="fa-solid fa-envelope"></i>
                    <input type="email" name="email" placeholder="Enter your email" id="signUpEmail">
                </div>
            </div>

            <div class="loginInput avatarInput">
                <span>Avatar</span>
                <div id="arrayOfAvatars"></div>
            </div>

            <div class="loginInput">
                <span>Old password *</span>
                <div>
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" name="passwordCheck" placeholder="Enter your old password" id="signUpPassCheck" required>
                </div>
            </div>

            <div class="loginInput">
                <span>New password</span>
                <div>
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" name="password" placeholder="Enter your new password" id="signUpPass">
                </div>
            </div>

            <button type="submit" class="changeSettingsBtn">Change settings</button>
        </div>
        </form>
        <form action="/delete" method="POST">
            <button type="submit" class="changeSettingsBtn">DELETE ACCOUNT</button>
        </form>
        <div>
            <button onclick="window.location.assign('/logout')" type="submit" class="logOutBtn"><i class="fa-solid fa-right-from-bracket"></i></button>
        </div>
        <footer>
            <p>© Duderick and DarunKa company limited.AM</p>
        </footer>
</body>
<script>
    function showUserInfo () {
        document.getElementById("userInfo").style.display='flex';
    }

    function hideUserInfo () {
        document.getElementById("userInfo").style.display='none';
    }

    function onImageClick () {
        
    }

    window.onload = function() {
        let hidden_if_empty = document.getElementById('hidden_if_empty');
        hidden_if_empty.style.display = (hidden_if_empty.innerHTML.trim() === '#status#') ? 'none' : 'block';
        let hidden_if_empty_error = document.getElementById('hidden_if_empty_error');
        hidden_if_empty_error.style.display = (hidden_if_empty_error.innerHTML.trim() === '#error#') ? 'none' : 'block';
        const login = document.getElementsByClassName("fullnameText");
        let valueOfLogin = document.getElementById('signUpFullname');
        valueOfLogin.value = login[0].textContent;
        const mail = document.getElementsByClassName("emailText");
        let valueOfmail = document.getElementById('signUpEmail');
        valueOfmail.value = mail[0].textContent;

        //avatars rendering
        let container = document.getElementById('arrayOfAvatars');
        let images = ['daphne_avatar.JPG', 'fred_avatar.JPG', 'scooby_avatar.png', 'shaggy_avatar.jpg', 'velma_avatar.JPG'];
        for(let i = 0; i<images.length; i++) {
            let image = document.createElement("img");
            image.src = images[i];
            image.classList.add(images[i], document.getElementsByClassName("avatarValue")[0].classList[1] == images[i] ? 'selectedAvatar' : 'unselected');
            image.addEventListener('click', () => {
                const imgElements = document.querySelectorAll('#arrayOfAvatars img');
                imgElements.forEach((img) => {
                    img.classList.remove('selectedAvatar');
                    img.classList.add('unselected');
                });
                image.classList.add('selectedAvatar');
                image.classList.remove('unselected');
            });
            container.appendChild(image);
        }
    };
</script>
</html>