<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistics</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" type="text/css" href="home.css">
    <link rel="stylesheet" type="text/css" href="stats.css">
    <link rel="icon" href="logo.png">
    <script src="https://kit.fontawesome.com/63fb3be0e9.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="userInfo">
        <div onclick="hideUserInfo()" class="loginAndAvatar">
            <!-- add user`s login in span text and in span title and users photo in img -->
            #login#
            <!-- <span title="ShaggyAndScoobyDoo11111111111111111111111">ShaggyAndScoobyDoo11111111111111111111111</span> -->
            #avatar1#
        </div>
        <div class="fullname">
            <!-- add user`s fullname in span text and in span title -->
            <span>Fullname:</span>
            #fullname#
            <!-- <span title="Shaggy Rojers" class="fullnameText">Shaggy Rojers</span> -->
        </div>
        <div class="email">
            <!-- add user`s email in span text and in span title -->
            <span>Email:</span>
            #email#
            <!-- <span title="shaggy.Rojers0908@gmail.com" class="emailText">shaggy.Rojers0908@gmail.com</span> -->
        </div>
    </div>
    <div class="mainSection menuSection">
        <h4 onclick="window.location.assign('/home')">Scooby</h4>
        <div class="home-menu">
            <button onclick="window.location.assign('/home')" type="submit" class="statBtn"><i class="fa-solid fa-xmark"></i></button>
            <button onclick="window.location.assign('/settings')" type="submit" class="settingBtn"><i class="fa-solid fa-gear"></i></button>
            <u onclick="showUserInfo()">#avatar2#</u>
        </div>
    </div>
    <div>
        Your count of wins is #wins#<br>
        Your count of losses is #loss#
    </div>
    <div>
        <button onclick="window.location.assign('/logout')" type="submit" class="logOutBtn"><i class="fa-solid fa-right-from-bracket"></i></button>
    </div>
    <footer>
        <p>© Duderick and DarunKa company limited.AM</p>
    </footer>
</body>
<script>
    function showUserInfo () {
        document.getElementById("userInfo").style.display='flex';
    }

    function hideUserInfo () {
        document.getElementById("userInfo").style.display='none';
    }
</script>
</html>