#pressPlay {
    cursor: pointer;
    transform: scale(1);
    transition-duration: 1s;
    font-size: 28px;
    line-height: 56px;
    border-radius: 50px;
    padding: 1px 40px;
}

#pressPlay:hover {
    transform: scale(1.5);
    transition-duration: 1s;
}

.mainSection {
    height: 300px;
}