body{
    /* background: rgba(202, 255, 159, 1.0);
    background: radial-gradient(at left center, rgba(202, 255, 159, 1.0), rgba(248, 187, 255, 1.0)); */
    /* height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;*/
    background-image: url('background.png');
    background-size: cover; 
    background-attachment: fixed;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.mainSection {
    margin: 5% 10% 0 10%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    /* background: rgba(255, 255, 255, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px); */
    /* box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
              -6px -6px 10px rgba(255, 255, 255, .5),
              6px 6px 8px rgba(255, 255, 255, .075),
              6px 6px 10px rgba(0, 0, 0, .15); */
}

h2, h4 {
    font-size: 32px;
    color: #a257f8;
    text-align: center;
    margin: 0;
    cursor: pointer;
}

button {
    line-height: 32px;
    font-size: 16px;
    background-color: #a257f8;
    color: white;
    padding: 1px 20px;
    border: 1px solid #cb9dff;
    border-radius: 1rem;
    width: fit-content;
    margin: 0 auto 0 auto;
}

footer {
    position: absolute;
    bottom: 20px;
    font-size: 12px;
    width: 17%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
}